.btn{
    margin: 0;
    padding: 0;
    font-family: Raleway;
    width: 100%;
    padding:15px ;
    font-size: 14px;
    background-color: #f2e6de
}

input[type=button]{
    width: 160px;
    margin-right: 40px;
    border: none;
    background-color: #f26907;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 0.5;
}

input[type=button]:hover{
   opacity: 1;
}