*{
    margin: 0;
    padding: 0;

}

.tab {
    display: none;
  }
  
button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}
  
button:hover {
    opacity: 0.8;
}
  
#prevBtn {
    background-color: #bbbbbb;
}