.App {
  text-align: center;
  /* background-color: #f2e6de;
  height: 100%;
  width:100%; */
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
